body{
    background-color: rgb(228, 193, 165);
}

.site {
    display: grid;
    justify-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 247, 233);
}


.navbar {
    background-color: rgb(255, 116, 3);
    width: 1920px;
    height: 100px;
}

.botao {
    background-color: rgb(255, 116, 3);
    color: white;            
    padding: 15px 40px;        
    border-radius: 50px;       
    text-decoration: none;    
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: inline-block;    
}

